<html>
<head>
    <title>Cuisine List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='/'>Restaurants</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div>
              <form action='/cuisine_results' class="navbar-form navbar-left">
                <div class='form-group'>
                  <input id='name' name='name' class='form-control' type='text' placeholder="lowercase cuisine name">

                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </form>
            </div>
              </li>
            </ul>
          </div>
        </div><!-- /.container-fluid -->
      </nav>


<div class="container">

  <h1>update <em>{{ cuisine.getName }}</em></h1>

  <form action="/cuisines/{{ cuisine.getId }}" method="post">
    <input name="_method" type="hidden" value="patch">

    <div class='form-group'>
      <input id="name" name="name" type="text" placeholder="rename cuisine">
    </div>
    <button type="submit" class="btn-primary">Update</button>
  </form>


<div>
</body>
</html>
