<html>
<head>
    <title>Cuisine List</title>
</head>
<body>
    <h1>Welcome to Cuisine List</h1>

    <p><a href="/restaurants">Click here</a> to see all of the restaurants and to add a restaurant.</p>
    <p><a href="/cuisines">Click here</a> to see all of the cuisines and to add a cuisine.</p>

</body>
</html>