<html>
<head>
    <title>Cuisine List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Restaurants</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


    <div class="container">
        <div clas="row">
            <h1 class="text-center">Welcome to Best Restaurants</h1>
            <hr>
            <div class="col-md-6">
                <h2>Create a new cuisine:</h2>
                <div class="control-group">
                    <form action="/cuisines" method="post">
                        <label for="name">Name :</label>
                        <br>
                        <input id="name" name="name" type="text">
                        <hr>
                        <button type="submit" class="btn-primary btn-lg">Add cuisine</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                {% if cuisines is not empty %}
                    <h4>Here are all your cuisines:</h4>
                    <ul>
                        {% for cuisine in cuisines %}
                            <li><a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getName }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                  <p>There are no cuisines yet!</p>
                {% endif %}
                <br>
            <form action='/delete_restaurants' method='post'>
                <button type='submit' class="btn-primary btn-lg">Clear</button>
            </form>
            </div>



        </div>
    </div>
</body>
</html>
