<html>
<head>
    <title>Cuisine List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Restaurants</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <div>
                <form action='/cuisine_results' class="navbar-form navbar-left">
                  <div class='form-group'>
                    <input id='name' name='name' class='form-control' type='text' placeholder="lowercase cuisine name">

                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </form>
              </div>

              <ul class="nav navbar-nav navbar-right">

              </ul>
            </div>
          </div>
        </nav>


    <div class="container">
        <div clas="row">
            <h1 class="text-center">Restaurants and Cuisines</h1>
            <hr>
            <div class="col-md-6">
                <h2>New cuisine</h2>
                <div class='form-group'>
                    <form action="/cuisines" method="post">

                        <input id="name" name="name" type="text" placeholder="enter name">

                        <hr>
                        <button type="submit" class="btn-primary btn-lg">Add cuisine</button>

                    </form>
                </div>
            </div>
            <div class="col-md-6">
            {% if cuisines is not empty %}
                <h4>Here are all your cuisines</h4>
                <ul>
                    {% for cuisine in cuisines %}
                        <li><a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
              <p>There are no cuisines yet!</p>
            {% endif %}
            <br>
          <form action='/delete_cuisines' method='post'>
              <button type='submit' class="btn-primary btn-lg">Clear</button>
          </form>
          </div>



        </div>
    </div>
</body>
</html>
